<h1>Template Form Validation Example 1</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary" (click)="createPerson()">Create New Person</button>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="updatePerson(1)">Load Bob Hope</button>
    </div>
  </div>

  <ng-container *ngIf="person">
    <h4>Description</h4>
    <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()" novalidate>
      <mat-grid-list cols="2" rowHeight="50px" >
        <!-- Row 1 -->
        <mat-grid-tile>
          <label for="firstName">First Name: </label>
          <input required minlength="2" appForbiddenName="bob" pattern="^[a-zA-Z]+$" id="firstName" type="text"
            name="firstName" class="form-control" [(ngModel)]="person.firstName" #firstName="ngModel">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
            <div *ngIf="firstName.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="firstName.errors?.['minlength']">
              Name must be at least 2 characters long.
            </div>
            <div *ngIf="firstName.errors?.['forbiddenName']">
              Name cannot be Bob.
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <label for="lastName">Last Name: </label>
          <input [(ngModel)]="person.lastName" type="text" name="lastName" class="form-control">
        </mat-grid-tile>

        <!-- Row 2 -->
        <mat-grid-tile>
          <label for="email">Email: </label>
          <input [(ngModel)]="person.email" required #email="ngModel" type="text" name="email" required email
            class="form-control mx-2">
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
            <div *ngIf="email.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="email.errors?.['email']">
              Invalid Email Address
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <label for="dateOfBirth">DOB: </label>
          <input [(ngModel)]="person.dateOfBirth" type="date" name="dateOfBirth" class="form-control mx-2">
        </mat-grid-tile>

        <!-- Row 3 -->
        <mat-grid-tile>
          <h4 class="mt-2">Address: </h4>
          <label for="addressLine1">Line 1:</label>
          <input [(ngModel)]="person.addressLine1" type="text" name="addressLine1" class="form-control mx-2">
        </mat-grid-tile>
        <mat-grid-tile>
          <h4 class="mt-2">Address: </h4>
          <label for="addressLine2">Line 2:</label>
          <input [(ngModel)]="person.addressLine2" type="text" name="addressLine2" class="form-control mx-2">
        </mat-grid-tile>

        <!-- Row 4 -->
        <mat-grid-tile>
          <label for="city">City: </label>
          <input [(ngModel)]="person.city" type="text" name="city" class="form-control mx-2">
        </mat-grid-tile>
        <mat-grid-tile>
          <label for="country">State: </label>
          <input [(ngModel)]="person.state" type="text" name="country" class="form-control mx-2">
        </mat-grid-tile>

        <!-- Row 5 -->
        <mat-grid-tile>
          <label for="postalCode">Postal Code: </label>
          <input [(ngModel)]="person.postalCode" type="text" name="postalCode" class="form-control mx-2">
        </mat-grid-tile>
        <mat-grid-tile>

        </mat-grid-tile>


        <!-- Row 6 -->
        <mat-grid-tile colspan="2">
          <button class="btn btn-primary" type="submit" [disabled]="!editForm.valid">Submit</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>

    <p>
      Form Value: {{ editForm.value | json }}
    </p>
    <p>
      Form Status: {{ editForm.status | json }}
    </p>
  </ng-container>

  <div class="row">
    <button class="btn btn-success" routerLink="/">Back to home</button>
  </div>

</div>


<h3>Notes</h3>
<ul>
  <li>You need to add FormsModule from @angular/forms to your imports in app.module.ts</li>
  <li>The Built-in validators use the HTML5 validation attributes like required, minlength, maxlength & pattern. </li>
</ul>
